<app-headers></app-headers>
  <nav aria-label="breadcrumb" class="mt-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a (click)="navigateTo()"><mat-icon>home</mat-icon></a></li>
      <li class="breadcrumb-item active" aria-current="page">List of Past Interns</li>
    </ol>
  </nav>

  <div class="container mx-auto mt-8 px-4">
    <div id="table-div" class="bg-white rounded-xl shadow-lg overflow-x-auto">
      <table class="min-w-full text-center table-auto">
        <thead>
          <tr class="bg-slate-700 text-center text-lg">
            <th scope="col" class="py-3 px-4 text-white">Intern ID</th>
            <th scope="col" class="py-3 px-4 text-white">Full Name</th>
            <th scope="col" class="py-3 px-4 text-white">Mentor</th>
            <th scope="col" class="py-3 px-4 text-white">Graduation</th>
            <th scope="col" class="py-3 px-4 text-white">Skillset</th>
            <th scope="col" class="py-3 px-4 text-white">End Date</th>
            <th scope="col" class="py-3 px-4 text-white">Association</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interns of inactiveInternDetails" id="inactivelist-hover" class="text-center items-center justify-center bg-slate-300 font-bold" >
            <td class="py-3 px-4" (click)="openInactiveProfile(interns)">{{interns.id}}</td>
            <td class="py-3 px-4" (click)="openInactiveProfile(interns)">{{interns.fullname}}</td>
            <td class="py-3 px-4" (click)="openInactiveProfile(interns)">{{interns.mentor}}</td>
            <td class="py-3 px-4" (click)="openInactiveProfile(interns)">{{interns.coursename}}</td>
            <td class="py-3 px-4" (click)="openInactiveProfile(interns)">{{interns.role}}</td>
            <td class="py-3 px-4" (click)="openInactiveProfile(interns)">{{interns.endDate}}</td>
            <td class="py-3 px-4" (click)="openInactiveProfile(interns)">{{interns.association}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <span class="m-4"></span>
    </div>
    
